<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <div class="container">
    <div class="row"> 
  <div class="col-12">-->

  <a routerLink="/" class="navbar-brand" (click)="closeNavbar()">{{ t.t('global.title') }}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" [ngClass]="{active:active==='expense'}">
        <a routerLink="/expense" class="nav-link" *ngIf="isAuthenticated" (click)="closeNavbar()">
          {{ t.t('expense.title.navbar')}}
        </a>
      </li>
      <li class="nav-item" [ngClass]="{active:active==='people'}">
        <a routerLink="/people" class="nav-link" *ngIf="isAuthenticated" (click)="closeNavbar()">
          {{ t.t('people.title.navbar')}}
        </a>
      </li>
      <li class="nav-item" [ngClass]="{active:active==='event'}">
        <a routerLink="/event" class="nav-link" *ngIf="isAuthenticated" (click)="closeNavbar()">
          {{ t.t('event.title.navbar')}}
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" *ngIf="loading">
        <spinner></spinner>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a routerLink="/signin" class="nav-link" (click)="closeNavbar()">
          {{ t.t('action.signin') }}
        </a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a routerLink="/login" class="nav-link" (click)="closeNavbar()">
          {{ t.t('action.login' )}}
        </a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a routerLink="/me" class="nav-link a" (click)="closeNavbar()">
          {{ current_user.name }}
        </a>
      </li>
      <li class="nav-item">
        <a (click)="test()" class="nav-link a" (click)="closeNavbar()">
          {{ t.current_lang }}
        </a>
      </li>
      <li class="nav-item" [ngClass]="{active:active==='settings'}">
        <a routerLink="/settings" class="nav-link" *ngIf="isAuthenticated" [title]="t.t('settings.title.navbar')"
          (click)="closeNavbar()">
          <i fa-icon="cog" class="d-none d-sm-inline"></i>
          <span class="d-sm-none"> Settings</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a (click)="logout()" class="nav-link a text-hover-danger" [title]="t.t('action.logout')"
          (click)="closeNavbar()">
          <i fa-icon="times" class="d-none d-sm-inline"></i>
          <span class="d-sm-none"> Logout</span>
        </a>
      </li>
      <!-- <li class="dropdown" appDropdown *ngIf="isAuthenticated">
        <a  class="dropdown-toggle" class="nav-link" role="button">Manage <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Saving data</a>
            <a href="#">Fetching data</a>
          </li>
        </ul>
      </li> -->
    </ul>
  </div>
  <!--</div>
   </div>
  </div> -->
</nav>