<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-sm-2">
            <!-- Sex -->
            <div class="form-group">
                <label>{{ t.t('people.model.sexe') }}</label>
                <br>
                <input type="checkbox" formControlName="sexe" id="sexe" data-toggle="toggle" data-onstyle="danger"
                    data-offstyle="info" data-on='<i class="fa fa-2x fa-female"></i>'
                    data-off="<i class='fa fa-2x fa-male'></i>">
                <br>
            </div>
        </div>

        <div class="col-md-5 col-sm-10">
            <!-- First name -->
            <div class="form-group">
                <label for="firstName">{{ t.t('people.model.firstName') }}</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName" autofocus
                    [ngClass]="f.is_invalid('firstName')">
                <app-form-error *ngIf="f.hasError('firstName')" [text]="f.getErrorMessage('firstName')">
                </app-form-error>
            </div>
        </div>
        <div class="col-md-5">
            <!-- Last name -->
            <div class="form-group">
                <label for="lastName">{{ t.t('people.model.lastName') }}</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- Met at -->
            <div class="form-group">
                <label for="met_at">{{ t.t('people.model.met_at') }}</label>
                <input type="date" class="form-control" formControlName="met_at" name="met_at" id="met_at"
                    [ngClass]="f.is_invalid('met_at')">
                <app-form-error *ngIf="f.hasError('met_at')" [text]="f.getErrorMessage('met_at')"></app-form-error>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Met in -->
            <div class="form-group">
                <label for="metIn">{{ t.t('people.model.metIn') }}</label>
                <input type="text" class="form-control" formControlName="metIn" [ngClass]="f.is_invalid('metIn')">
                <app-form-error *ngIf="f.hasError('metIn')" [text]="f.getErrorMessage('metIn')"></app-form-error>
            </div>
        </div>

        <div class="col-md-6">
            <!-- From -->
            <div class="form-group">
                <label for="from">{{ t.t('people.model.from') }}</label>
                <div class="input-group">
                    <select name="from" formControlName="from" id="from" class="form-control">
                        <option *ngFor="let country of countries" [value]="country._id">{{ country.name }}</option>
                    </select>
                    <div class="input-group-append">
                        <a href="/settings/country/new" class="btn input-group-text" (click)="onAddCountry($event)">
                            <i fa-icon="plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <input type="submit" [value]="t.t('action.save')" class="btn btn-success" [disabled]="form.invalid">
</form>

<div class="modal" tabindex="-1" role="dialog" id="new_country">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ t.t('country.title.new') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <country-form (send)="onCreateCountry($event)"></country-form>
            </div>
        </div>
    </div>
</div>