/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "assets/scss/variables_override";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules//bootstrap-toggle/css/bootstrap-toggle.min.css";

body {
  background-color: $gray-100;
}

// ---------------------------------------------------------------
// BUTTONS
// ---------------------------------------------------------------

.btn-default {
  @include button-variant($gray-200, $gray-200);
}

// ---------------------------------------------------------------
// ALERT
// ---------------------------------------------------------------

.alert-hollow {
  border: 1px solid $gray-400;
  background-color: $white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.no-overflow {
  overflow: hidden;
}

.alert-icon {
  position: absolute;
  right: 5;
  top: 5;
  pointer-events: none;
  font-size: 8rem;
  font-weight: bold;
}

// ---------------------------------------------------------------
// ICONS
// ---------------------------------------------------------------

i.outline {
  -webkit-text-stroke: 2px #000;
}

.alert-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  pointer-events: none;
  font-size: 8rem;
  color: $gray-100;
}

// ---------------------------------------------------------------
// HEADERS
// ---------------------------------------------------------------

.h1-actions {
  float: right;
  margin-bottom: 0.5rem;
}

.a {
  cursor: pointer;
}

.actions {
  width: 2%;
  white-space: nowrap;
}

// ---------------------------------------------------------------
// FONT
// ---------------------------------------------------------------

.big {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
}

.huge {
  font-size: 4rem;
  font-weight: bold;
  line-height: 5rem;
}

.text-hover-danger:hover {
  color: $danger !important;
}

// ---------------------------------------------------------------
// TABLES
// ---------------------------------------------------------------

.actions {
  width: 1px;
  white-space: nowrap;
  text-align: right;
}

.table-no-head tr:first-child td {
  border-top: none;
}

.table th {
  border-top: none;
}

td.isWeekEnd {
  background-color: #f8f8f8;
}

td.isToday {
  background-color: theme-color-level("info", -10); // #d1ecf1; //#EEE
}
