<div class="row">
  <div class="col-12 mt-3">

    <div class="h1-actions">
      <div class="btn-group">
        <app-month-navigation [month]="month" [year]="year" base="/expense"></app-month-navigation>
      </div>
      &nbsp;
      <div class="btn-group">
        <a routerLink="/expense/new" [new-btn]="t.t('expense.btn.new')"></a>
        <a routerLink="/expense/category" [secondary-btn]="t.t('expense.category.btn.expense')" icon="fa-list"></a>
      </div>
    </div>
    <h1>{{ getCurrentMonth() }} {{ year }}</h1>
  </div>
</div>

<app-loading-alert *ngIf="loading"></app-loading-alert>

<div class="row" *ngIf="!loading && report">
  <div class="col-md-4">
    <div class="row">
      <div class="col-12">

        <!-- Total -->
        <div class="alert alert-hollow text-center">
          <div class="huge">
            {{ report.total | fixed:0 }} €
          </div>
          {{ t.p('expense.text.spent.month', report.total.toFixed(0)) }}
        </div>
      </div>

      <div class="col-12">
        <div class="row">

          <!-- Categories -->
          <div class="col" *ngIf="report && report.categories">
            <div class="alert alert-hollowx">
              <div class="row" *ngFor="let category of report.categories">
                <div class="col-sm-8" [style]="getCategoryBg(category.category)">
                  <i class="fa fa-fw" [ngClass]="getIcon(category.category)"></i>
                  {{ category.category ? category.category.name : "No category" }}
                </div>
                <div class="col-sm-4 text-right" [style]="getCategoryBg(category.category)">
                  <b>{{ category.total | fixed:0 }} €</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <!-- Chart -->
  </div>

  <div class="col" *ngIf="report && report.reports">
    <div class="row">
      <div class="col-md-4" *ngFor="let r of getActiveReports()">
        <div class="alert alert-hollow text-center">
          <div class="huge">
            <i [fa-icon]="r.icon" element="expense" [style]="getStyleColor('color', r.color)" class="outline"></i>
            {{ r.report.value | fixed}}
          </div>
          {{ 'per '+r.report.per}}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Detail -->
<div class="alert alert-hollow" *ngIf="!loading && expenses && expenses.length">

  <!-- <div class="h1-actions">
    <div class="btn-group">
      <a new-btn="New expense" href="/expense/new" routerLink="/expense/new"></a>
      <a secondary-btn="Categories" icon="fa-list" href="/expense/category" routerLink="/expense/category"></a>
    </div>
  </div> -->
  <!-- <h3>Detail</h3> -->

  <table class="table table-hover table-no-head" style="margin-bottom: 0;">

    <tr *ngFor="let expense of expenses">

      <td [link]="'/expense/'+expense._id">
        {{ expense.date | date:"d MMM yy" }}
        <small class="text-muted">{{ expense.description }}</small>
      </td>

      <td [link]="'/expense/'+expense._id">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-right">
              <i class="fa" [ngClass]="getExpenseIconClass(expense)"></i>
              &nbsp;
              {{ expense.amount | fixed }}
            </div>
          </div>
        </div>
      </td>

      <td class="actions">
        <div class="btn-group">
          <a href="#" edit-btn [routerLink]="'/expense/'+expense._id+'/edit'"></a>
          <a [href]="'/expense/'+expense._id+'/delete'" delete-btn (click)="onDelete($event, expense)"></a>
        </div>
      </td>

    </tr>

  </table>

</div>