<div class="row">
  <div class="col mt-3">

    <h1>
      November 2019
    </h1>
    <div class="alert alert-hollow">
      <h3>Detail</h3>

      <table class="table table-hover">
        <tr *ngFor="let expense of expenses">
          <td>
            {{ expense.date | date:"d MMM yy" }}
            <small class="text-muted">{{ expense.description }}</small>
          </td>
          <td>
            <i class="fa fa-fw" [ngClass]="getExpenseIconClass(expense)"></i>
            {{ expense.amount.toFixed(2) }}
          </td>
          <td class="actions">
            <div class="btn-group">
              <button edit_btn></button>
              <button delete_btn></button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>